:root {
    --background: #0B0E13;
    --b-300: #13181F;
    --b-500: #1E2633;
    --accent-p: #ff1b72;
    --accent-p-200: #ED1668;
    --accent-p-300: #D90F5C;
    --accent-p-400: #C50950;
    --accent-p-500: #af0244;
    --accent-s-500: #00B9BF;
    --accent-s-400: #01A9AE;
    --accent-s-300: #02959A;
    --accent-s-200: #038489;
    --accent-s: #047276;
    --complementry: #ffd600;
}